---
layout: default
---
<main class="auth">
  <div class="auth__card">
    <a class="auth__brand" href="{{ '/' | relative_url }}">
      {% include logo.svg %}
      <b>{{ site.title }}</b>
    </a>

    <h1>{{ site.login.heading }}</h1>
    <p class="auth__sub">{{ site.login.sub }}</p>

    {%- if site.login.action and site.login.action != '' %}
    <form class="auth__form" action="{{ site.login.action }}" method="post">
      <label class="auth__label" for="email">Email address</label>
      <input id="email" type="email" name="email" required autocomplete="email"
             autofocus placeholder="{{ site.login.placeholder }}">
      <button type="submit">{{ site.login.button }}</button>
    </form>
    {%- else %}
    <form class="auth__form is-inert" aria-describedby="auth-note" onsubmit="return false">
      <label class="auth__label" for="email">Email address</label>
      <input id="email" type="email" name="email" autocomplete="email"
             placeholder="{{ site.login.placeholder }}" disabled>
      <button type="submit" disabled>{{ site.login.button }}</button>
    </form>
    <p id="auth-note" class="auth__note">
      Set <code>login.action</code> in <code>_config.yml</code> to a passwordless
      provider endpoint to activate this form.
    </p>
    {%- endif %}

    <p class="auth__privacy">{{ site.login.privacy }}</p>

    <div class="auth__behind">
      <span class="label">{{ site.login.behind_heading }}</span>
      <ul>
        {%- for item in site.login.behind %}
        <li>{{ item }}</li>
        {%- endfor %}
      </ul>
    </div>

    <p class="auth__help">
      <a href="{{ site.login.help_url | relative_url }}">{{ site.login.help_text }}</a>
    </p>
  </div>

  <p class="auth__scripture">
    <q>{{ site.login.scripture }}</q>
    <cite>{{ site.login.scripture_ref }}</cite>
  </p>
</main>
