---
layout: default
---
<main class="lp">

  <section class="hero lp__hero">
    <div class="wrap hero__in">
      <div>
        <a class="lp__brand" href="{{ '/' | relative_url }}">
          {% include logo.svg %}
          <b>{{ site.title }}</b>
        </a>
        <h1>{{ site.landing.heading }}</h1>
        {% include question-bubbles.html %}
        <p class="hero__actions">
          <a class="btn btn--lg" href="{{ site.landing.cta_url }}">{{ site.landing.cta_text }}</a>
        </p>
        <p class="hero__trust">{{ site.landing.trust }}</p>
      </div>
      <div class="treewrap">
        {% include tree.svg %}
      </div>
    </div>
  </section>

  <div id="topics">{% include topics.html %}</div>
  {% include spectrum.html %}
  {% include book.html %}
  {% include capture.html %}

  <footer class="lp__foot">
    <div class="wrap">
      {%- for note in site.footer_notes %}
      <p>{{ note }}</p>
      {%- endfor %}
    </div>
  </footer>

</main>
